<template>
	<div>
		<h1>Mi pipeline </h1>
		<p>{{ message }}</p>
			<input type="number" v-model.number="number">
			<button type="button" @click.prevent="determinar">Determinar</button>
	</div>
</template>

<script>
import fizzbuzz from '@/core/app'

export default {
	name: "FizzBuzz",
	props: {
		number: {
			required: true
		}
	},
	data() {
		return {
			message: "",
		}
	},
	methods: {
		determinar() {
			this.message = fizzbuzz(this.number)
		}
	}
}
</script>

<style>

</style>